<div class="edit_product_page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <h2 style="color:#069" class="page-title">Edit Product</h2>
                        <br>
                        <a href="/admin/manage_product" class="btn btn-primary">Back to all products</a>
                        <br><br>

                        <form method="post" action="/admin/manage_product/update/{{item._id}}">
                            <table id="mytable" class="table table-bordred table-striped">
                                <tbody>
                                    <tr>
                                        <td>Name</td>
                                        <td><input type="text" name="name" value="{{item.name}}" /></td>
                                    </tr>
                                    <tr>
                                        <td>Description</td>
                                        <td><input type="text" name="description" value="{{item.description}}" /></td>
                                    </tr>
                                    <tr>
                                        <td>Receipt price</td>
                                        <td><input type="text" name="receipt_price" value="{{item.receipt_price}}" /></td>
                                    </tr>
                                    <tr>
                                        <td>Market price</td>
                                        <td><input type="text" name="market_price" value="{{item.market_price}}" /></td>
                                    </tr>
                                    <tr>
                                        <td>Inventory count</td>
                                        <td><input type="text" name="inventory_count"  value="{{item.inventory_count}}" /></td>
                                    </tr>

                                    <tr>
                                        <td>Brand</td>
                                        <td><input type="text" name="brand"  value="{{item.brand}}" /></td>
                                    </tr>

                                    <tr>
                                        <td>Type</td>
                                        <td><input type="text" name="type"  value="{{item.type}}" /></td>
                                    </tr>

                                    
                                </tbody>
                            </table>
                            <tr>
                                        <td><button class="btn btn-primary" type="submit">Update</button></td>
                                    </tr>
                        </form>
                    </div>
                </div>
            </div>
        </div>