{{!Arguments: homepage trend_items new_items}}

<!-- Banner -->

<div class="banner">
    <div class="banner_background" style="background-image:url(images/banner_background.jpg)"></div>
    <div class="container fill_height">
        <div class="row fill_height">
            <div class="banner_product_image">
                <img src="images/banner_product.png" alt="">
            </div>
            <div class="col-lg-5 offset-lg-4 fill_height">
                <div class="banner_content">
                    <h1 class="banner_text">New era of Cameras</h1>
                    <div class="button banner_button">
                        <a href="/product/cate/dslr">Explore Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Characteristics -->

<div class="characteristics">
    <div class="container">
        <div class="row">

            <!-- Char. Item -->
            <div class="col-lg-3 col-md-6 char_col">

                <div class="char_item d-flex flex-row align-items-center justify-content-start">
                    <div class="char_icon">
                        <img src="images/char_1.png" alt="">
                    </div>
                    <div class="char_content">
                        <div class="char_title">Free Delivery</div>
                        <div class="char_subtitle">from $50</div>
                    </div>
                </div>
            </div>

            <!-- Char. Item -->
            <div class="col-lg-3 col-md-6 char_col">

                <div class="char_item d-flex flex-row align-items-center justify-content-start">
                    <div class="char_icon">
                        <img src="images/char_3.png" alt="">
                    </div>
                    <div class="char_content">
                        <div class="char_title">Cash on Delivery</div>
                    </div>
                </div>
            </div>

            <!-- Char. Item -->
            <div class="col-lg-3 col-md-6 char_col">

                <div class="char_item d-flex flex-row align-items-center justify-content-start">
                    <div class="char_icon">
                        <img src="images/char_4.png" alt="">
                    </div>
                    <div class="char_content">
                        <div class="char_title">Online Payment</div>
                    </div>
                </div>
            </div>

            <!-- Char. Item -->
            <div class="col-lg-3 col-md-6 char_col">

                <div class="char_item d-flex flex-row align-items-center justify-content-start">
                    <div class="char_icon">
                        <img src="images/char_2.png" alt="">
                    </div>
                    <div class="char_content">
                        <div class="char_title">Free Replacement</div>
                        <div class="char_subtitle">in 7 days</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Recently Viewed -->

<div class="viewed">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="viewed_title_container">
                    <h3 class="viewed_title">New Product</h3>
                    <div class="viewed_nav_container">
                        <div class="viewed_nav viewed_prev">
                            <i class="fas fa-chevron-left"></i>
                        </div>
                        <div class="viewed_nav viewed_next">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </div>

                <div class="viewed_slider_container">

                    <!-- Recently Viewed Slider -->

                    <div class="owl-carousel owl-theme viewed_slider">

                        {{#each new_items}}
                            <!-- Recently Viewed Item -->
                            <div class="owl-item">
                                <div class="viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                    <div class="viewed_image">

                                        <img src="/images/{{_id}}_sm.jpg" alt="">

                                    </div>
                                    <div class="viewed_content text-center">
                                        <div class="viewed_price">
                                            {{market_price}} vnd
                                        </div>
                                        <div class="viewed_name">
                                            <a href="/item/{{_id}}">{{name}}</a>
                                        </div>
                                    </div>
                                    <ul class="item_marks">
                                        <li class="item_mark item_new">new</li>
                                    </ul>
                                </div>
                            </div>
                        {{/each}}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popular Categories -->

<div class="popular_categories">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="popular_categories_content">
                    <div class="popular_categories_title">Popular Categories</div>
                    <div class="popular_categories_slider_nav">
                        <div class="popular_categories_prev popular_categories_nav">
                            <i class="fas fa-angle-left ml-auto"></i>
                        </div>
                        <div class="popular_categories_next popular_categories_nav">
                            <i class="fas fa-angle-right ml-auto"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Popular Categories Slider -->

            <div class="col-lg-9">
                <div class="popular_categories_slider_container">
                    <div class="owl-carousel owl-theme popular_categories_slider">

                        <!-- Popular Categories Item -->
                        <a href="/product/cate/dslr">
                        <div class="owl-item">
                            <div class="popular_category d-flex flex-column align-items-center justify-content-center">
                                <div class="popular_category_image">
                                    <img src="images/popular_1.png" alt="">
                                </div>
                                <div class="popular_category_text">DSLR Camera</div>
                            </div>
                        </div>
                        </a>

                        <!-- Popular Categories Item -->
                        <a href="/product/cate/mirrorless">
                        <div class="owl-item">
                            <div class="popular_category d-flex flex-column align-items-center justify-content-center">
                                <div class="popular_category_image">
                                    <img src="images/popular_2.png" alt="">
                                </div>
                                <div class="popular_category_text">Mirrorless Camera</div>
                            </div>
                        </div>
                        </a>

                        <!-- Popular Categories Item -->
                        <a href="/product/cate/compact">
                        <div class="owl-item">
                            <div class="popular_category d-flex flex-column align-items-center justify-content-center">
                                <div class="popular_category_image">
                                    <img src="images/popular_3.png" alt="">
                                </div>
                                <div class="popular_category_text">Compact Camera</div>
                            </div>
                        </div>
                        </a>

                        <!-- Popular Categories Item -->
                        <a href="/product/cate/action">
                        <div class="owl-item">
                            <div class="popular_category d-flex flex-column align-items-center justify-content-center">
                                <div class="popular_category_image">
                                    <img src="images/popular_4.png" alt="">
                                </div>
                                <div class="popular_category_text">Action Camera</div>
                            </div>
                        </div>
                        </a>

                        <!-- Popular Categories Item -->
                        <a href="/product/cate/accessory">
                        <div class="owl-item">
                            <div class="popular_category d-flex flex-column align-items-center justify-content-center">
                                <div class="popular_category_image">
                                    <img src="images/popular_5.png" alt="">
                                </div>
                                <div class="popular_category_text">Accessories</div>
                            </div>
                        </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Trends -->

<div class="trends">
    <div class="trends_background" style="background-image:url(/images/trends_background.jpg)"></div>
    <div class="trends_overlay"></div>
    <div class="container">
        <div class="row">

            <!-- Trends Content -->
            <div class="col-lg-3">
                <div class="trends_container">
                    <h2 class="trends_title">Trends 2018</h2>
                    <div class="trends_text">
                        <p>This is best-selling product.</p>
                    </div>
                    <div class="trends_slider_nav">
                        <div class="trends_prev trends_nav">
                            <i class="fas fa-angle-left ml-auto"></i>
                        </div>
                        <div class="trends_next trends_nav">
                            <i class="fas fa-angle-right ml-auto"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Trends Slider -->
            <div class="col-lg-9">
                <div class="trends_slider_container">

                    <!-- Trends Slider -->

                    <div class="owl-carousel owl-theme trends_slider">

                        {{#each trend_items}}
                            <!-- Trends Slider Item -->
                            <div class="owl-item">
                                <div class="trends_item is_new">
                                    <div class="trends_image d-flex flex-column align-items-center justify-content-center">

                                        <img src="/images/{{_id}}_sm.jpg" alt="">

                                    </div>
                                    <div class="trends_content">
                                        <div class="trends_info clearfix">
                                            <div class="trends_name">
                                                <a href="/item/{{_id}}">{{name}}</a>
                                            </div>
                                            <div class="trends_price">{{market_price}} vnd</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>