
<div class="datatable">
    <div class="ribbon-front">
        <h3>Order Datatable</h3>
    </div> 
    <br><br>
    <a href="/salesman/order/add" class="btn btn-info">Add new order</a>
    <br><br>
        <div class="row">
             <div class="col-lg-8">
                 <div class="table-responsive">
                     <table id="mytable" class="table table-bordred table-striped">
                         <thead>
                            <th>Customer ID</th>
                            <th>Cost</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Count</th>
                            </thead>

                        <tbody>
                            {{#each order_items}}
                            <tr>
                                <td><a href="/salesman/order/{{_id}}">{{customer_id}}</a></td>
                                <td>{{cost}}</td>
                                <td>{{date}}</td>
                                <td>{{status}}</td>
                                <td>{{count}}</td>
                            </tr>

                            {{/each}}
                        </tbody>
                            
                     </table>
                 </div>
             </div>
        </div>
</div>

</div>