{{!Arguments: category_title current_cate product_count product_items}}
<!-- Home -->

<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/images/shop_background.jpg"></div>
    <div class="home_overlay"></div>
    <div class="home_content d-flex flex-column align-items-center justify-content-center">
        <h2 class="home_title">
            {{category_title}}
        </h2>
    </div>
</div>

<!-- Shop -->

<div class="shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">

                <!-- Shop Sidebar -->
                <div class="shop_sidebar">
                    <div class="sidebar_section">
                        <div class="sidebar_title">Categories</div>
                        <ul class="sidebar_categories">
                            <li>
                                <a href="/product/cate/dslr">DSLR Camera</a>
                            </li>
                            <li>
                                <a href="/product/cate/mirrorless">Mirrorless Camera</a>
                            </li>
                            <li>
                                <a href="/product/cate/compact">Compact Camera</a>
                            </li>
                            <li>
                                <a href="/product/cate/action">Action Camera</a>
                            </li>
                            <li>
                                <a href="/product/cate/battery">Battery</a>
                            </li>
                            <li>
                                <a href="/product/cate/card">Memory Card</a>
                            </li>
                            <li>
                                <a href="/product/cate/tripod">Tripod</a>
                            </li>
                            <li>
                                <a href="/product/cate/backpack">Backpack</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar_section filter_by_section">
                        <div class="sidebar_title">Filter By</div>
                    </div>
                    <div class="sidebar_section">
                        <div class="sidebar_subtitle brands_subtitle">Brands</div>
                        <ul class="brands_list">
                            <li class="brand">
                                <a href="/product/cate/{{current_cate}}/brand/nikon">Nikon</a>
                            </li>
                            <li class="brand">
                                <a href="/product/cate/{{current_cate}}/brand/canon">Canon</a>
                            </li>
                            <li class="brand">
                                <a href="/product/cate/{{current_cate}}/brand/fujifilm">Fujifilm</a>
                            </li>
                            <li class="brand">
                                <a href="/product/cate/{{current_cate}}/brand/pentax">Pentax</a>
                            </li>
                            <li class="brand">
                                <a href="/product/cate/{{current_cate}}/brand/sony">Sony</a>
                            </li>
                            <li class="brand">
                                <a href="/product/cate/{{current_cate}}/brand/gopro">GoPro</a>
                            </li>
                            <li class="brand">
                                <a href="/product/cate/{{current_cate}}/brand/leica">Leica</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-lg-9">

                <!-- Shop Content -->

                <div class="shop_content">
                    <div class="shop_bar clearfix">
                        <div class="shop_product_count">
                            <span>{{product_count}}</span> products found</div>
                    </div>

                    <div class="product_grid">
                        <div class="product_grid_border"></div>

                        {{#each product_items}}
                            <!-- Product Item -->
                            <div class="product_item is_new">
                                <div class="product_border"></div>
                                <div class="product_image d-flex flex-column align-items-center justify-content-center">
                                    <img src="/images/new_5.jpg" alt="product photo">
                                </div>
                                <div class="product_content">
                                    <div class="product_price">
                                        {{market_price}} vnd
                                    </div>
                                    <div class="product_name">
                                        <div>
                                            <a href="/item/{{_id}}" tabindex="0">{{name}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}

                    </div>

                    <!-- Shop Page Navigation -->

                    <div class="shop_page_nav d-flex flex-row">
                        <div class="page_prev d-flex flex-column align-items-center justify-content-center">
                            <i class="fas fa-chevron-left"></i>
                        </div>
                        <ul class="page_nav d-flex flex-row">
                            <li>
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">...</a>
                            </li>
                            <li>
                                <a href="#">21</a>
                            </li>
                        </ul>
                        <div class="page_next d-flex flex-column align-items-center justify-content-center">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>