{{!Arguments: category_title current_cate product_count product_items}}
<!-- Home -->

<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/images/shop_background.jpg"></div>
    <div class="home_overlay"></div>
    <div class="home_content d-flex flex-column align-items-center justify-content-center">
        <h2 class="home_title">
            {{category_title}}
        </h2>
    </div>
</div>

<!-- Shop -->

<div class="shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">

                <!-- Shop Sidebar -->
                <div class="shop_sidebar">
                    <div class="sidebar_section">
                        <div class="sidebar_title">Categories</div>
                        <ul class="sidebar_categories">
                            <li>
                                <a href="/product/page/1/cate/dslr">DSLR Camera</a>
                            </li>
                            <li>
                                <a href="/product/page/1/cate/mirrorless">Mirrorless Camera</a>
                            </li>
                            <li>
                                <a href="/product/page/1/cate/compact">Compact Camera</a>
                            </li>
                            <li>
                                <a href="/product/page/1/cate/action">Action Camera</a>
                            </li>
                            <li>
                                <a href="/product/page/1/cate/len">Camera Lens</a>
                            </li>
                            <li>
                                <a href="/product/page/1/cate/battery">Battery</a>
                            </li>
                            <li>
                                <a href="/product/page/1/cate/card">Memory Card</a>
                            </li>
                            <li>
                                <a href="/product/page/1/cate/tripod">Tripod</a>
                            </li>
                            <li>
                                <a href="/product/page/1/cate/backpack">Backpack</a>
                            </li>
                        </ul>
                    </div>

                    {{#if is_filter}}
                        <div class="sidebar_section filter_by_section">
                            <div class="sidebar_title">Filter By</div>
                        </div>
                        <div class="sidebar_section">
                            <div class="sidebar_subtitle brands_subtitle">Brands</div>
                            <ul class="brands_list">
                                <li class="brand">
                                    <a href="/product/page/1/cate/{{current_cate}}/brand/nikon">Nikon</a>
                                </li>
                                <li class="brand">
                                    <a href="/product/page/1/cate/{{current_cate}}/brand/canon">Canon</a>
                                </li>
                                <li class="brand">
                                    <a href="/product/page/1/cate/{{current_cate}}/brand/fujifilm">Fujifilm</a>
                                </li>
                                <li class="brand">
                                    <a href="/product/page/1/cate/{{current_cate}}/brand/pentax">Pentax</a>
                                </li>
                                <li class="brand">
                                    <a href="/product/page/1/cate/{{current_cate}}/brand/sony">Sony</a>
                                </li>
                                <li class="brand">
                                    <a href="/product/page/1/cate/{{current_cate}}/brand/gopro">GoPro</a>
                                </li>
                                <li class="brand">
                                    <a href="/product/page/1/cate/{{current_cate}}/brand/leica">Leica</a>
                                </li>
                            </ul>
                        </div>
                    {{/if}}
                </div>

            </div>

            <div class="col-lg-9">

                <!-- Shop Content -->

                <div class="shop_content">
                    <div class="shop_bar clearfix">
                        <div class="shop_product_count">
                            <span>{{product_count}}</span> products found</div>
                    </div>

                    <div class="product_grid">
                        <div class="product_grid_border"></div>

                        {{#each product_items}}
                            <!-- Product Item -->
                            <div class="product_item is_new">
                                <div class="product_border"></div>
                                <div class="product_image d-flex flex-column align-items-center justify-content-center">
                                    <img src="/images/{{_id}}_sm.jpg" alt="product photo">
                                </div>
                                <div class="product_content">
                                    <div class="product_price">
                                        {{market_price}} vnd
                                    </div>
                                    <div class="product_name">
                                        <div>
                                            <a href="/product/item/{{_id}}" tabindex="0">{{name}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}

                    </div>

                    <!-- Shop Page Navigation -->
                    {{#if page}}
						<div class="shop_page_nav d-flex flex-row">
							<div class="page_prev d-flex flex-column align-items-center justify-content-center"><a href="/product/page/{{prev_page}}/cate/{{current_cate}}{{#if current_brand}}/brand/{{current_brand}}{{/if}}"><i class="fas fa-chevron-left"></i></a></div>
							<ul class="page_nav d-flex flex-row">
                                {{#each page_list}}
								<li><a href="/product/page/{{value}}/cate/{{../current_cate}}{{#if has_brand}}/brand/{{../current_brand}}{{/if}}">{{value}}</a></li>
								{{/each}}
							</ul>
							<div class="page_next d-flex flex-column align-items-center justify-content-center"><a href="/product/page/{{next_page}}/cate/{{current_cate}}{{#if current_brand}}/brand/{{current_brand}}{{/if}}"><i class="fas fa-chevron-right"></i></a></div>
						</div>
                    {{/if}}
                </div>

            </div>
        </div>
    </div>
</div>