<div class="show_order_detail">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <h2 style="color:#069" class="page_title">Show order detail</h2>
                        <br>
                        <a href="/salesman/order" class="btn btn-primary">Back to all orders</a>
                        <br><br>

                        <table id="mytable" class="table table-bordred table-striped">
                            <tbody>
                                <tr>
                                    <td>Customer ID</td>
                                    <td>{{order_item.customer_id}}</td>
                                </tr>
                                <tr>
                                    <td>Cost</td>
                                    <td>{{order_item.cost}}</td>
                                </tr>
                                <tr>
                                    <td>Date</td>
                                    <td>{{order_item.date}}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>{{order_item.status}}</td>
                                </tr>
                                <tr>
                                    <td>Count</td>
                                    <td>{{order_item.count}}</td>
                                </tr>
                                <tr>
                                    <td>Item</td>
                                    <td>{{order_item.item_list.item}}</td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>{{order_item.item_list.amount}}</td>
                                </tr>

                                <br>

                            </tbody>
                        </table>
                        <a href="/salesman/order/edit/{{order_item._id}}" class="btn btn-success">Edit</a>
                        <br>
                        <br>
                        <form action="/salesman/order/delete/{{order_item._id}}" method="post">
                            {{!-- <button class="btn btn-danger" type="submit">Delete</button> --}}
                            <button type="submit" class="btn btn-danger" onclick="if (!confirm('Are you sure to delete this record?')) { return false }">Delete</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>